.footer_background{
    background-color: grey;
    color: white;
    position:fixed;
    margin-top: auto;
    bottom:0;
   width:100%;
}

.footer_background a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin-left: 5px;
}

.footer_background a:hover {
    color: rgb(37, 37, 37)
}

.clear { clear: both; height: 100px; }